[Unit]
Description=Backend service

[Service]
WorkingDirectory=/var/www-data/bin
ExecStart=java -jar /var/www-data/bin/sausage-store.jar
Enviroment=REPORT_PATH=/opt/sausage-store/reports
Enviroment=LOG_PATH=/var/sausage-store/logs
StandardOutput=/var/sausage-store/logs/backend.log
StandardError=/var/sausage-store/logs/backend_errors.log
Restart=always
User=backend

[Install]
WantedBy=multi-user.target
